{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebVideos</title>
    <link rel="stylesheet" href="{% static 'new.css' %}">
</head>
<body>

    <a href="{% url 'new_video'  %}">New Video</a>

    {% if all_videos|length == 0 %}
        <h2>No videos avaiable in our Database </h2>
    {% else %}
    <h2> Quantity of videos in our Database: {{ all_videos |length }}</h2>


    {% for video in all_videos %}
    <h3>{{ video }}</h3>
    <p>{{ video.description }}</p>
    <a href="{% url 'edit_video' video.id %}">Edit</a>
    <a href="{% url 'delete_video' video.id %}">Delete</a>
    {% endfor %}

    {% endif %}
</body>
</html>